/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* top bar  */
.top-bar {
  background-color: #2d25a0;
  width: 100%;
}

/* nav bar styles */
nav {
  display: flex;
  justify-content: space-around;
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-top: 42px;
  align-items: center;
  color: white;
}
.nav-list2 {
  list-style-type: none;
  margin: 0;
  padding-top: 42px;
}
.nav-list li {
  padding-right: 30px;
}
.container {
  display: flex;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 10%;
}
.heading {
  width: 50%;
}
.heading h1 {
  margin: 0;
  padding-top: 10%;
  color: white;
  font-weight: 700;
  font-size: 64px;
}
.cover-img {
  width: 45%;
}
.cover-img img {
  padding-top: 5%;
  width: 100%;
}

.red-btn {
  background-color: #e02c6d;
  padding: 12px 26px;
  color: white;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.heading button{
  margin-top: 30px;
}
.all-footballer{
  /* align-items: center; */
  padding-left: 180px;
  padding-right: 180px;
  /* justify-content: center; */
}
.footballer-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  
}
.footballer{
  margin-bottom: 27px;
  width: 300px;
  padding: 20px;
  height: 480px;
  background: white;
  box-shadow: 5px 5px 50px lightgray;
}

.footballer img{
  width: 300px;
}

.highlights{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 160px;
  margin-bottom: 160px;
}
.left-high{
  width: 50%;
}
.left-high h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}
.left-high p{
  margin-top: 8px;
  margin-bottom: 24px;
  color:  #6C6C6C;
}
.right-high{
  width: 50%;
}
.text{
  width: 50%;
}

.right-high img{
  width: 80%;
}
footer{
  text-align: center;
}
footer img{
  width: 25%;
}
.logos i{
  margin-right: 14px;
  size: ;
  /* width: 100%; */
}
.fl{
  /* height: 5px; */
  background-color: rgb(224, 218, 218);
  padding: 10px;
  border-radius: 100%;
}
.copyright p{
font-size: 18px;
font-weight: 500;
}