/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Global */
body,a {
  font-family: "Poppins", sans-serif;
  margin: 0;

}
a{
  text-decoration: none;
  color: white;
}
.nlink:hover{
  color: red;
  
}
.red-btn:hover{
  cursor: pointer;
  color: white;
}

/* top bar  */
.top-bar {
  background-color: #2d25a0;
  width: 100%;
}

/* nav bar styles */
nav {
  display: flex;
  justify-content: space-around;
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-top: 42px;
  align-items: center;
  color: white;
}
.nav-list2 {
  list-style-type: none;
  margin: 0;
  padding-top: 42px;
}
.nav-list li {
  padding-right: 30px;
}
.nav-list li:hover {
  color: red;
  transition: 0.5s transform;
  transform: scale(1.2);
}
/* header text and image styles */
.container {
  display: flex;
  padding-bottom: 2%;
  padding-left: 15%;
  padding-right: 10%;
}
.heading {
  width: 50%;
}
.heading h1 {
  margin: 0;
  padding-top: 10%;
  color: white;
  font-weight: 700;
  font-size: 64px;
}
.cover-img {
  width: 45%;
}
.cover-img img {
  padding-top: 5%;
  width: 100%;
}
.cover-img:hover {
  transform: rotate(15deg);
  transition: 0.5s transform ease-in-out;
}

/* all button styles */
.red-btn {
  background-color: #e02c6d;
  padding: 12px 26px;
  color: white;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.red-btn:hover {
  transform: scale(1.2);
  transition: 0.7s transform ease-in-out;
  background-color: teal;
}
.heading button {
  margin-top: 30px;
}

/* footballer styles */
.all-footballer {
  padding-left: 180px;
  padding-right: 180px;
}
.footballer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.footballer {
  margin-bottom: 27px;
  width: 300px;
  padding: 20px;
  height: 480px;
  background: white;
  box-shadow: 5px 5px 50px lightgray;
}
.footballer:hover {
  transition: 1s transform;
  background: black;
  color: red;
  transform: scale(1.05);
}

.footballer img {
  width: 100%;
}

/* highlights styles */
.highlights {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 160px;
  margin-bottom: 160px;
}
.left-high {
  width: 50%;
}
.left-high h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}
.left-high p {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #6c6c6c;
}
.right-high {
  width: 50%;
}
.text {
  width: 50%;
}

.right-high img {
  width: 80%;
}

/* footer styles */
footer {
  text-align: center;
}
footer img {
  width: 25%;
}
.logos i {
  margin-right: 14px;
  color: grey;
}
.fl {
  background-color: rgb(224, 218, 218);
  padding: 10px;
  border-radius: 100%;
}
.fl:hover {
  background-color: black;
  color: red;
}
.copyright p {
  font-size: 18px;
  font-weight: 500;
}

/* media queries to make responsive */
@media only screen and (max-width: 688px) {
  .heading h1 {
    font-size: 32px;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-list li {
    margin-bottom: 5px;
  }
  .nav-list2 {
    margin-top: 10%;
  }
  .footballer-list {
    grid-template-columns: 1fr;
  }
  .container {
    flex-direction: column;
  }
  .cover-img {
    margin-top: 50px;
    width: 100%;
  }
  .all-footballer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footballer {
    margin-bottom: 27px;
    width: 90%;
    padding: 5%;
    background: white;
    box-shadow: 5px 5px 50px lightgray;
  }
  .footballer img {
    width: 100%;
  }
  .highlights {
    flex-direction: column;
  }
  .left-high {
    width: 100%;
  }
  .left-high h1 {
    font-size: 36px;
  }
  .right-high {
    margin-top: 30px;
    width: 100%;
  }
  .text {
    width: 80%;
  }
}

/* for tablet devices */
@media only screen and (min-width: 688px) and (max-width: 1024px) {
  .heading h1 {
    font-size: 48px;
  }
  .container {
    flex-direction: column;
  }
  .cover-img {
    margin-top: 50px;
    width: 80%;
  }
  .footballer-list {
    grid-template-columns: 1fr 1fr;
  }
  .all-footballer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footballer {
    margin-bottom: 27px;
    width: 80%;
    padding: 5%;
    background: white;
    box-shadow: 5px 5px 50px lightgray;
  }
  .highlights {
    flex-direction: column;
  }
  .left-high {
    width: 100%;
  }
  .left-high h1 {
    font-size: 36px;
  }
  .right-high {
    margin-top: 30px;
    width: 100%;
  }
  .text {
    width: 80%;
  }
}
